@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Blinker:400,600,700|Lexend+Deca&display=swap);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
}

input:focus {
  outline: none;
}

@media (max-width: 1200px) {
  body, html {
    font-size: 8px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.w-85 {
  width: 85%;
}

.header-link::after, .header-link::before{
  width: 15px;
  height: 15px;
  content: "";
  position: absolute;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.header-link::after{
  border-bottom: 3px solid blue;
  border-right:  3px solid blue;
  bottom: 0;
  right: 0;
}

.header-link::before {
 border-top: 3px solid blue;
 border-left:  3px solid blue;
 top: 0;
 left: 0;
}
.header-link:hover::before {
  top: -7.5px;
  left: -7.5px;
  opacity: 1;
}

.header-link:hover::after {
  bottom: -7.5px;
  right:  -7.5px;
  opacity: 1;
}

#hero-section::before, #hero-section::after {
  position: absolute;

  width: 100%;
  height: 2px;
  content: "";
  background-color: #0066FF;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 102, 255, 0.35);
  animation: 3.5s ease 0s 1 normal none running line-increase-horizontal;
}

#hero-section::before{
  top: 7.5rem;
}

#hero-section::after{
  transform-origin: bottom;
  bottom: 0px;
  left: 37.5rem;
  height: calc(100%);
  width: 2px;
  animation: 3.5s ease 0s 1 normal none running line-increase-vertical;
}

#ellipse-div {
  animation: 3.5s ease 0s 1 normal none running circle-grow
}



@keyframes line-increase-horizontal {
  from{
    width: 0%;
  }
  to {
    width: calc(100%);
  }
}

@keyframes line-increase-vertical {
  from {
    height: 0%;
  }
  to {
    height: 100%
  }
}

@keyframes circle-grow {
  from {
    height: 0;
  }
  to {
    height: 75%;
  }
}

.frontend-grid {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 5rem 6rem 7rem;
    gap: 5rem 5rem;
    grid-template-areas:
      ". vue react js jQuery ts mobile-first"
      "bem css responsive sass less npm animation"
      ". angular gulp babel eslint composer yarn";
}

.frontend-mobile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5rem 5rem 6rem 6rem 5rem;
  gap: 3rem 3rem;
  grid-template-areas:
    "vue react js jQuery"
    "sass less npm css"
    "ts gulp composer bem"
    "angular animation babel eslint"
    "mobile-first mobile-first responsive yarn";
}

.backend-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 7rem 6rem;
  gap: 3rem 3rem;
  grid-template-areas:
    "java php nodejs websocket"
    "spring yii python phalcon"
}

.backend-mobile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 7rem 5rem 7rem;
  gap: 4rem 4rem;
  grid-template-areas:
    "java php nodejs "
    "websocket spring yii"
    "python . phalcon"
}


